code,
pre {
  -ms-overflow-style: none;
  /* 인터넷 익스플로러 */
  scrollbar-width: none;
  /* 파이어폭스 */
}

code::-webkit-scrollbar,
pre::-webkit-scrollbar {
  /* display: none; */
  height: 6px;
}

/* 스크롤바 썸 (바 부분) 스타일 */
code::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 3px;
}

/* 스크롤바 트랙 (바의 배경) 스타일 */
code::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
  background-color: #282c33;
}


pre:has(>code[class*="code-highlight"]) {
  background: #282c34;
  color: inherit;
  text-shadow: none;
}