@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* width */
  ::-webkit-scrollbar {
    @apply w-1.5 h-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded;
  }


  ::selection {
    background-color: var(--selection);
  }


  html {
    scroll-behavior: smooth;
  }




  :root {


    --text-second: #b0b0b0;

    --sh-class: #2d5e9d;
    --sh-identifier: #697a8e;
    --sh-sign: #8996a3;
    --sh-property: #0550ae;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;
    --sh-string: #00a99a;
    --sh-keyword: #f47067;
    --sh-comment: #a19595;

    /* --sh-class: #171717;
    --sh-identifier: #697a8e;
    --sh-sign: #8996a3;
    --sh-property: #171717;
    --sh-entity: #171717;
    --sh-jsxliterals: #6f6f6f;
    --sh-string: #6f6f6f;
    --sh-keyword: #858585;
    --sh-comment: #a19595; */


    --selection: hsla(0, 0%, 0%, .045);
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.3rem;
  }

  .dark {
    --selection: hsla(0, 0%, 100%, .077);
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@media (prefers-reduced-motion: no-preference) {
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate]>* {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: enter 0.5s both;
    animation-delay: calc(var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start));
  }

  [data-animate-speed='slow']>* {
    --delay: 100ms;
  }

  [data-animate-speed='fast']>* {
    --delay: 25ms;
  }
}

[data-animate]>*:nth-child(1) {
  --lv: 1;
}

[data-animate]>*:nth-child(2) {
  --lv: 2;
}

[data-animate]>*:nth-child(3) {
  --lv: 3;
}

[data-animate]>*:nth-child(4) {
  --lv: 4;
}

[data-animate]>*:nth-child(5) {
  --lv: 5;
}

[data-animate]>*:nth-child(6) {
  --lv: 6;
}

[data-animate]>*:nth-child(7) {
  --lv: 7;
}

[data-animate]>*:nth-child(8) {
  --lv: 8;
}

[data-animate]>*:nth-child(9) {
  --lv: 9;
}

[data-animate]>*:nth-child(10) {
  --lv: 10;
}

[data-animate]>*:nth-child(11) {
  --lv: 11;
}

[data-animate]>*:nth-child(12) {
  --lv: 12;
}

[data-animate]>*:nth-child(13) {
  --lv: 13;
}

[data-animate]>*:nth-child(14) {
  --lv: 14;
}

[data-animate]>*:nth-child(15) {
  --lv: 15;
}

[data-animate]>*:nth-child(16) {
  --lv: 16;
}

[data-animate]>*:nth-child(17) {
  --lv: 17;
}

[data-animate]>*:nth-child(18) {
  --lv: 18;
}

[data-animate]>*:nth-child(19) {
  --lv: 19;
}

[data-animate]>*:nth-child(20) {
  --lv: 20;
}

[data-animate]>*:nth-child(21) {
  --lv: 21;
}

[data-animate]>*:nth-child(22) {
  --lv: 22;
}

[data-animate]>*:nth-child(23) {
  --lv: 23;
}

[data-animate]>*:nth-child(24) {
  --lv: 24;
}